/* Definindo tamanho do layot e posicionando os elementos */
.container {
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
}

header {
    height: 10vh
}

section {
    height: 90vh;
    
}

section>.btn-main {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

section>.graph-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    height: 100%;
    width: 100%;
    
    
}
section>.graph-main> div{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;

}

/* Estilizações dos elementos */

/*Header*/
header hr {
    border: 1px solid #BA68C8;
    border-radius: 5px;
}


/*Definindo tamanho dos botões, alinhando texto do link, e também utilizando o nowrap para não ter quebra de linha do texto*/
section>.btn-main a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 0px #443e46);
    text-decoration: none;
    transition: 0.5s;
    width: 10rem;
    height: 1rem;
}

/*Animação de trocar a cor ao passar o mouse em cima do botão*/
section>.btn-main a:hover {
    color: black;
    background-color: gray;
    transition: 0.5s;
}

/*Animação de movimento ao clicar no botão*/
section>.btn-main :active {
    transform: translate(15px, 15px);
}

section>.graph-main{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}



