{% extends "base.html" %}
{% set current_page = "solicitacao" %}
{% block content %}
<div class="form-main">
    <form action="">
        <label for="titulo">Titulo</label>
        <br>
        <input type="text" name="titulo" id="titulo" placeholder="Titulo da Solicitação"><br>

        <label for="marca">ID do Produto</label>
        <br>
        <input type="text" name="marca" id="marca" placeholder="Marca do produto"><br>

        <label for="qntd">Qntd da Solicitação</label>
        <br>
        <input type="text" name="qntd" id="qntd" placeholder="Quantidade do produto"><br>

        <label for="desc">Descrição</label>
        <br>
        <textarea name="desc" id="desc" placeholder="Descrição do produto"> </textarea>
    </form>
</div>
<div class="form-btn">
    <button class="btn-confirm">Confirmar</button>
    <a class="btn-back" href="/solicitacao">Voltar</a>
</div>
{% endblock %}