.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-produto {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 1000px;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title_modal {
    align-self: start;
    margin: 0;
}

#img_profile {
    display: flex;
    align-items: center;
    
}

#img_profile img {
    max-height: 100px;
    width: auto;
    border-radius: 50%;
    border: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.detalhes-modal {
    display: flex;
    justify-content: space-between;
    /* Fornecedor à esquerda, Endereço à direita */
}

#detalhesProduto {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    border: solid 1px
}

.btn-modal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#confirmarExclusao {
    font-size: 19px;
    margin-left: 15px;
    margin-right: 15px;
    width: 7rem;
    height: 2rem;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}



/* Botão para fechar o modal */
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    justify-content: start;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Efeito de desfoque */
.blurEdit {
    filter: blur(8px);
}