{% extends "base.html" %}
{% set current_page = "produto" %}
{% block content %}
<form action="" class="form-main">
    <div class="file-upload">
        <img id="image-preview" src="{{ url_for('static', path='/img/forms/icon_upload.svg') }}" alt="">
        <input type="file" name="img" id="real-file" accept="image/png, image/jpeg">
        <button type="button" id="custom-button">Selecionar Imagem</button>
        <span id="custom-text">Nenhum arquivo escolhido ainda.</span>
    </div>
    <div class="form-left">
        <div>
            <div class="form-group">
                <label for="nome">Nome</label>

                <input type="text" name="nome" placeholder="Nome do fornecedor" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="email">Email</label>

                <input type="email" name="email" placeholder="Ex: email@email.com.br" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="cnpj">CNPJ</label>

                <input type="number" name="cnpj" placeholder="cnpj do fornecedor" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-right">
        <div>
            <div class="form-group">
                <label for="cep">CEP</label>

                <input type="number" name="cep" placeholder="12345678" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>

                <input type="text" name="cidade" placeholder="Cidade" autocomplete="off">
            </div>
        </div>
    </div>
</form>
<div class="form-btn">
    <button class="btn-confirm">Confirmar</button>
    <a class="btn-back" href="/fornecedor">Voltar</a>
</div>
{% endblock %}