{% extends "base.html" %}
{% set current_page = "produto" %}
{% block content %}
<form action="" class="form-main" method="post">
    <div class="file-upload">
        <img id="image-preview" src="{{ url_for('static', path='/img/forms/icon_upload.svg') }}" alt="">
        <input type="file" name="img" id="real-file" accept="image/png, image/jpeg">
        <button type="button" id="custom-button">Selecionar Imagem</button>
        <span id="custom-text">Nenhum arquivo escolhido ainda.</span>
    </div>
    <div class="form-left">
        <div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Nome do produto" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="text">Marca</label>
                <input type="text" name="marca" placeholder="Marca do produto" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="desc">Descrição</label>
                <textarea name="desc" id="desc" placeholder="Descrição do produto"></textarea>
            </div>
        </div>
    </div>
    <div class="form-right">
        <div>
            <div class="form-group">
                <label for="categoriaSelect">Selecione a Categoria</label>
                <select name="categoriaSelect" id="categoriaSelect">
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="fornecedor">Fornecedor <button type="button" id="btn-buscarFornecedor"><img src="{{ url_for('static', path='/img/forms/icon_search.png') }}" alt=""></button></label>
                <input type="text" name="fornecedor" id="inputFornecedor" placeholder="Fornecedor do produto" autocomplete="off">
            </div>
        </div>
    </div>
</form>
<div class="form-btn">
    <button class="btn-confirm">Confirmar</button>
    <a class="btn-back" href="/produto">Voltar</a>
</div>
{% include 'produto/modalBuscar.html' %}
{% endblock %}