<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/produto/main.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <button class="btn-1">Cadastrar</button>
            <button class="btn-2">Editar</button>
            <button class="btn-3">Excluir</button>
            <button class="btn-4">Listar</button>
        </div>
        {% set current_page = "produto" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>