<div id="modalExcluir" class="modal">
    <div class="modal-content-produto">
        <span class="close">&times;</span>
        <div class="header-modal">
            <h2 class="title_modal">Confirmação de Exclusão</h2>
            <span id="img_profile"></span>
        </div>
        <div class="detalhes-modal">
            <div id="detalhesProduto"></div>

        </div>
        <div class="btn-modal">
            <button id="confirmarExclusao">Confirmar</button>
        </div>
    </div>
</div>