<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/crud.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                {% include 'components/header.html' %}
                <section>
                    <div>
                        <form action="">
                            <label for="nome">ID estoque</label>
                            <br>
                            <input type="text" name="nome" id="nome" placeholder="Digite o id do estoque que deseja editar"><br>

                            <label for="nome">Nome</label>
                            <br>
                            <input type="text" name="nome" id="nome" placeholder="Nome do estoque"><br>

                            <label for="cidade">Cidade</label>
                            <br>
                            <input type="text" name="cidade" id="cidade" placeholder="Cidade do estoque"><br>

                            <label for="endereco">Endereço</label>
                            <br>
                            <input type="text" name="endereco" id="endereco" placeholder="Endereço do estoque"><br>

                            <label for="desc">Descrição</label>
                            <br>
                            <input type="text" name="desc" id="desc" placeholder="Descrição do estoque">
                        </form>
                    </div>
                    <div class="form-btn">
                        <button class="btn-confirm">Confirmar</button>
                        <a class="btn-back" href="/produto">Voltar</a>
                    </div>
                </section>
            </div>
        </div>
        {% set current_page = "estoque" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>