{% extends "base.html" %}
{% set current_page = "estoque" %}
{% block content %}
<div class="form-main">
    <form action="">
        <label for="nome">ID estoque</label>
        <br>
        <input type="text" name="nome" id="nome" placeholder="Digite o id do estoque que deseja editar"><br>

        <label for="nome">Nome</label>
        <br>
        <input type="text" name="nome" id="nome" placeholder="Nome do estoque"><br>

        <label for="cidade">Cidade</label>
        <br>
        <input type="text" name="cidade" id="cidade" placeholder="Cidade do estoque"><br>

        <label for="endereco">Endereço</label>
        <br>
        <input type="text" name="endereco" id="endereco" placeholder="Endereço do estoque"><br>

        <label for="desc">Descrição</label>
        <br>
        <input type="text" name="desc" id="desc" placeholder="Descrição do estoque">
    </form>
</div>
<div class="form-btn">
    <button class="btn-confirm">Confirmar</button>
    <a class="btn-back" href="/estoque">Voltar</a>
</div>
{% endblock %}
