.container {
    display: grid;
    grid-template-rows: 10vh 50vh 40vh;
    padding-left:  100px;
    padding-right: 100px;
    background-color: whitesmoke;

}

header hr {
    border: 1px solid #BA68C8;
    border-radius: 5px;
}

section > div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
section > div > img{
    width: 250px;
    height: 250px;
}



section > div > form > input{
    width: 30rem;
    height: 2rem;
}

section > div > form > input{
    margin-bottom: 10px;
}

section > div > form > input {
    padding: 10px;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
}

section > div > form > input:focus {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

footer > div {
    display: flex;
    justify-content: center;

}

footer > div > button{
    border: none;
    margin: 5px;
    width: 9rem;
    height: 2.5rem;
    font-size: 18px;
    transition: .1s;
}

footer > div > button:hover{
    transition: .1s;
    transform: translate(1px, 3px);
    color: #f8f8f8;
    text-shadow: 
        0 0 5px #fdfdfd, 
        0 0 10px #fdffff, 
        0 0 15px #030303, 
        0 0 20px #000000, 
        0 0 25px #080808, 
        0 0 30px #000000, 
        0 0 35px #070707;
}

footer > div > .btn-confirm {
    background-color: black;
    color: white;
}

footer > div > .btn-back {
    background-color: red;
    color: white;
    
    
}

footer > div > .btn-back > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
