<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/menu/adicionar-produto.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                {% include 'components/header.html' %}
                <section>
                    <div class="form-main">
                        <form action="">
                            <label for="produto">Produto</label>
                            <br>
                            <input type="text" name="produto" id="produto" placeholder="Digite o Id do produto"><br>

                            <label for="estoque">Estoque</label>
                            <br>
                            <input type="text" name="estoque" id="estoque" placeholder="Digite o Id do estoque"><br>

                            <label for="quantidade">Quantidade</label>
                            <br>
                            <input type="text" name="quantidade" id="quantidade" placeholder="Quantidade do produto">
                        </form>
                        <img src="{{ url_for('static', path='/img/forms/boxes.png') }}" alt="">
                    </div>
                    <div class="form-btn">
                        <button class="btn-confirm">Confirmar</button>
                        <a class="btn-back" href="/menu">Voltar</a>
                    </div>
                </section>
            </div>
        </div>
        {% set current_page = "menu" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>