<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/menu/main.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                {% include 'components/header.html' %}
                <section>
                    <div class="btn-main">
                        <a href="adicionar-produto">Adicionar Produto</a>
                        <a href="transferencia-estoque">Tranferência Estoque</a>
                        <a href="usuario">Usuário</a>
                    </div>
                </section>
            </div>
        </div>
        {% set current_page = "menu" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>