/* Exibir imagem selecionada */
#real-file {
    display: none;
}

#custom-button {
    /* Estilização do botão vai aqui */
    padding: 8px;
    color: white;
    background-color: black;
    border: none;

    cursor: pointer;
}

#custom-button:hover {
    /* Estilização do hover do botão */
    background-color: #555;
}

#custom-text {
    margin-left: 10px;
    line-height: 2.5;
    color: #aaa;
}



/* Formularios */

section>.form-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-left>div,
.form-right>div {
    flex-basis: calc(50% - 20px);
    /* Define a largura inicial de cada coluna menos o gap */
    display: flex;
    flex-direction: column;
}


.file-upload {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

}


.file-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;


}

.form-btn {
    display: flex;
    width: 100%;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* Espaço entre os campos do formulário */
}

.form-group > label > button img {
    width: 17px;
    height: 17px;
}

.form-group>label>button {
    border: none;
    background-color: rgba(163, 131, 131, 0);
    cursor: pointer; 
}

.form-btn {
    display: flex;
    justify-content: center;
    /* Espaça os botões uniformemente */
    max-width: calc(100% - 20px);
    /* Largura máxima dos botões ajustada para contabilizar o gap */
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    /* Faz com que os campos de entrada ocupem 100% da célula da grade */
    padding: 10px;
    /* Espaçamento interno no campo de entrada */
    margin-bottom: 20px;
    /* Espaço entre os campos de entrada */
}



/* Estilizações dos elementos */

/*Header*/
header hr {
    border: 1px solid #BA68C8;
    border-radius: 5px;
}

/*Input dos Formulario*/
.form-group textarea {
    border: none;
    resize: none;
    padding: 10px;
    width: 30rem;
    height: 9rem;
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-group input {
    width: 30rem;
    height: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-group select {
    width: 31rem;
    height: 3.1rem;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: none;
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-group label {
    font-size: 22px;
}

.form-group input:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
}

.form-group textarea:focus {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

/*Botões do formulario*/
.form-btn {
    gap: 20px;
}

/*Defindo as cores*/
.form-btn>.btn-confirm {
    background-color: black;
    color: white;
}

.form-btn>.btn-back {
    display: flex;
    background-color: red;
    color: white;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

}

/*definindo os tamanhos dos botões*/
.form-btn>.btn-back,
.form-btn>.btn-confirm {
    border: none;
    margin: 5px;
    width: 9rem;
    height: 2.5rem;
    font-size: 18px;
    transition: .1s;
}

/*Aplica o efeito ao passar o mouse em cima*/
.form-btn>.btn-back:hover,
.form-btn>.btn-confirm:hover {
    transition: .1s;
    transform: translate(1px, 3px);
    color: #f8f8f8;
    text-shadow:
        0 0 5px #fdfdfd,
        0 0 10px #fdffff,
        0 0 15px #030303,
        0 0 20px #000000,
        0 0 25px #080808,
        0 0 30px #000000,
        0 0 35px #070707;

}


/*Media query para os inputs, img e botões - 720px*/
@media (max-height: 720px) {

    .form-group input {
        width: 20rem;
        height: 1rem;
    }

    .form-group textarea {
        width: 20rem;

    }

    .form-group select {
        width: 21rem;
        height: 2.2rem;

    }

    .form-group label {

        font-size: 18px;
    }

    .form-group label button img {

        width: 12px;
        height: 12px; 
    }

    .form-btn>.btn-back,
    .form-btn>.btn-confirm {
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        transition: .1s;
    }
}