/* Definindo tamanho do layot e posicionando os elementos */
.container {
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;

}

header {
    height: 10vh
}

section {
    height: 90vh;

}

section>.form-main {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

section>.form-btn {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}







/* Estilizações dos elementos */

/*Header*/
header hr {
    border: 1px solid #BA68C8;
    border-radius: 5px;
}

/*Input dos Formulario*/
section>.form-main>form>input {
    width: 30rem;
    height: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

section>.form-main>form>input:focus {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

/*Botões do formulario*/
section>.form-btn {
    gap: 20px;
}

/*Defindo as cores*/
section>.form-btn>.btn-confirm {
    background-color: black;
    color: white;
}

section>.form-btn>.btn-back {
    display: flex;
    background-color: red;
    color: white;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

}

/*definindo os tamanhos dos botões*/
section>.form-btn>.btn-back,
section>.form-btn>.btn-confirm {
    border: none;
    margin: 5px;
    width: 9rem;
    height: 2.5rem;
    font-size: 18px;
    transition: .1s;
}

/*Aplica o efeito ao passar o mouse em cima*/
section>.form-btn>.btn-back:hover,
section>.form-btn>.btn-confirm:hover {
    transition: .1s;
    transform: translate(1px, 3px);
    color: #f8f8f8;
    text-shadow:
        0 0 5px #fdfdfd,
        0 0 10px #fdffff,
        0 0 15px #030303,
        0 0 20px #000000,
        0 0 25px #080808,
        0 0 30px #000000,
        0 0 35px #070707;

}


/*Media query para os inputs, img e botões - 720px*/
@media (max-height: 720px) {
    section>.form-main>form>input {
        width: 22rem;
        height: 1rem;
    }

    section>.form-btn>.btn-back,
    section>.form-btn>.btn-confirm {
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        transition: .1s;
    }
}