@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Definindo o layout central da pagina */
main {
    display: grid;
    grid-template-columns: 4fr 276px;
    grid-template-areas: "left-side navbar";
    min-height: 100%
}

/* Definindo tamanho do layot e posicionando os elementos */
.container {
    height: auto;
    min-height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: whitesmoke;
    
    

}

header {
    height: auto;
    min-height: 10vh;
}

section {
    height: auto;
    min-height: 90vh;
    
    

}