/* Definindo tamanho do layot e posicionando os elementos */
.container {
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  height: 10vh
}

section {
  height: 90vh;

}

/*Header*/
header hr {
  border: 1px solid #BA68C8;
  border-radius: 5px;
}

/*Botões da tabela*/
.btn-list{
  border: none;
  background-color: rgba(163, 131, 131, 0);
  cursor: pointer;
  

}

.btn-list img{
  width: 25px;
  
}

/*Filtro de busca por nome*/
.filter-nome input[type="text"]{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #432548;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: 19px;
}

.filter-nome input[type="text"]:focus{
  outline: none;
}

.filter-nome input[type="submit"]{
  background-image: url('../img/forms/icon_search.png');
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  width: 25px;
  height: 25px;
  cursor: pointer; 
}


/* Tabela */
.container-table100 {
  width: 100%;
  
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 15px
}

.wrap-table100 {
  width: 1170px
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative
}

table * {
  position: relative
}

table td,
table th {
  padding-left: 8px;
  
}

table thead tr {
  height: 60px;
  background: #432548;
}

table tbody tr {
  height: 50px;

}

table tbody tr:last-child {
  border: 0
}

table td,
table th {
  text-align: left
}

table td.l,
table th.l {
  text-align: right
}

table td.c,
table th.c {
  text-align: center
}

table td.r,
table th.r {
  text-align: center
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5
}

tbody tr {
  font-size: 15px;
  color: rgb(2, 2, 2);
  line-height: 1.2;
  font-weight: unset
}

tbody tr:hover {
  color: #6e6b6b;
  background-color: #f5f5f5;
  cursor: pointer;
  
}

.column1 {
  width: 100px;
  padding-left: 40px
}

.column2 {
  width: 200px
}

.column3 {
  width: 200px
}

.column4 {
  width: 110px;
  text-align: left
}

.column5 {
  width: 170px;
  text-align: left
}

.column6 {
  width: 100px;
  text-align: center;
  padding-right: 40px
}

@media screen and (max-height:720px) {
  table {
    display: block
  }

  table>*,
  table tr,
  table td,
  table th {
    display: block
  }

  table thead {
    display: none
  }

  table tbody tr {
    height: auto;
    padding: 37px 0
  }

  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px
  }

  table tbody tr td:last-child {
    margin-bottom: 0
  }

  table tbody tr td:before {
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0
  }

  table tbody tr td:nth-child(1):before {
    content: "Cod"
  }

  table tbody tr td:nth-child(2):before {
    content: "Nome"
  }

  table tbody tr td:nth-child(3):before {
    content: "CNPJ"
  }

  table tbody tr td:nth-child(4):before {
    content: "Telefone"
  }

  table tbody tr td:nth-child(5):before {
    content: "CEP"
  }

  table tbody tr td:nth-child(6):before {
    content: "Ações"
  }

  .column4,
  .column5,
  .column6 {
    text-align: left
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%
  }

  tbody tr {
    font-size: 14px
  }
}

@media(max-width:576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px
  }
}