.navbar{
    background-color: #432548;
    height: 100vh;
    position: fixed;
    width: 276px;
    top: 0;
    right: 0;
    grid-area: navbar;
    display: grid;
    grid-template-rows: .5fr .5fr 1fr .1fr 2fr;  
}
.navbar h1{
    color: azure;
    justify-self: center;
    align-self: center;
}

.navbar .profile {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    
    
}
.navbar .profile img {
    justify-self: center;
    align-self: center;
    
}

.navbar .profile p {
    margin: 0;
    font-size: 13px;
    justify-self: center;
    align-self: center;
    color: white;
}

.navbar .profile a {
    justify-self: center;
    align-self: center;
}

.navbar ul{
    display: grid;
    padding: 0;
    margin: 0;
    gap: 20px;
    
}

.navbar ul li{
    list-style-type: none;
    color: azure;
    align-self: center;
   
    
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: grid;
    
    grid-template-columns: 80px 1fr;
    padding: 10px;
    transition: 0.5s;
    

}
.navbar ul li a img{
    align-self: center;
    justify-self: center;
}
.navbar ul li a p{
    margin: 0;
    align-self: center;
    justify-self: left center;
}

.left-side{
    grid-area: left-side;
    height: 100vh;
}

.hr-nav {
    border: none; /* Remove bordas padrão */
    border-top: 1px dashed #ccc; /* Define a borda superior como tracejada */
    width: 100%;
    height: 0; /* Ajusta a altura para 0, já que estamos usando a borda para criar a linha */
    background-color: transparent; /* Garante que não haja cor de fundo */
    margin: 10px 0; /* Adiciona uma margem vertical para separá-lo do conteúdo acima e abaixo */
}



.navbar ul li a:hover {
    background-color: #BA68C8;
    transition: 0.5s;
    transform: translate(7px, 5px);
}

.ul-b {
    align-self: center;
}

.navbar ul li a.active, 
.navbar ul li a.active:hover {
    background-color: #BA68C8;
    transition: none;
    transform: none;
    
}