<link rel="stylesheet" href="{{ url_for('static', path='/css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
{% if request.url.path in ['/estoque/', '/menu/', '/relatorio/', '/produto/', '/solicitacao/', '/fornecedor/' ] %}
<!--Requisitar o CSS para Estilização dos botões de menus de cada pagina principal-->
<link rel="stylesheet" href="/static/css/main.css">
{% endif %}
{% if request.path in ['/estoque/listar', '/produto/listar'] %}
<!--Requisitar o CSS para Estilização da listagem de Produtos e Estoque-->
<link rel="stylesheet" href="/static/css/listagem.css">
{% endif %}
{% if request.path in ['/estoque/cadastrar', '/estoque/editar', '/estoque/excluir', '/produto/cadastrar', '/produto/editar', '/produto/excluir'] %}
<!--Requisitar o CSS para Estilização da crud de Produtos e Estoque-->
<link rel="stylesheet" href="/static/css/crud.css">
{% endif %}
{% if request.path in ['/relatorio/estoque', '/relatorio/produto', '/relatorio/usuario'] %}
<!--Requisitar o CSS para Estilização das graficos de Produto, Estoque e relatorios-->
<link rel="stylesheet" href="/static/css/relatorio.css">
{% endif %}
{% if request.path == '/solicitacao/criar' %}
<!--Requisitar o CSS para Estilização da criação de solicitação-->
<link rel="stylesheet" href="/static/css/solicitacao/criar.css">
{% endif %}
{% if request.path == '/solicitacao/visualizar' %}
<!--Requisitar o CSS para Estilização da listagem de solicitações-->
<link rel="stylesheet" href="/static/css/solicitacao/visualizar.css">
{% endif %}
{% if request.path == '/fornecedor/listar' %}
<!--Requisitar o CSS para Estilização da listagem dos fornecedores-->
<link rel="stylesheet" href="/static/css/listagemfornecedor.css">
<link rel="stylesheet" href="/static/css/modal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endif %}
{% if request.path == '/fornecedor/cadastrar' %}
<!--Requisitar o CSS para Estilização da crud de Produtos e Estoque-->
<link rel="stylesheet" href="/static/css/crud_test.css">
{% endif %}

