{% if request.path == '/relatorio/estoque' %}
<!--Biblioteca chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Requisitar o JS para Configuração dos graficos de Estoque-->
<script src="{{ url_for('static', path='js/relatorio/graficoEstoque.js') }}"></script>
{% endif %}

{% if request.path == '/relatorio/produto' %}
<!--Biblioteca chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Requisitar o JS para Configuração dos graficos de Produto-->
<script src="{{ url_for('static', path='js/relatorio/graficoProduto.js') }}"></script>
{% endif %}

{% if request.path == '/relatorio/usuario' %}
<!--Biblioteca chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Requisitar o JS para Configuração dos graficos de Usuario-->
<script src="{{ url_for('static', path='js/relatorio/graficoUsuario.js') }}"></script>
{% endif %}


{% if request.path == '/fornecedor/listar' %}
<!--Requisitar o JS para funcionamento do modal-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', path='js/fornecedor/listarFornecedor.js') }}"></script>
<script src="{{ url_for('static', path='js/fornecedor/modal.js') }}"></script>
{% endif %}

{% if request.path == '/fornecedor/cadastrar' %}
<!--Requisitar o JS para funcionamento do modal-->
<script src="{{ url_for('static', path='js/inputFile.js') }}"></script>
{% endif %}

{% if request.path == '/produto/cadastrar' %}
<!--Requisitar o JS para funcionamento do modal-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', path='js/produto/listarCategorias.js') }}"></script>
<script src="{{ url_for('static', path='js/produto/modalBuscarFornecedor.js') }}"></script>
<script src="{{ url_for('static', path='js/produto/modalBuscarCategoria.js') }}"></script>
<script src="{{ url_for('static', path='js/inputFile.js') }}"></script>
{% endif %}