{% block content %}


<h1>OrbitTI</h1>
<div class="profile">
    <img src="static/img/navbar/icon_profile.svg" alt="">
    <p>Murilo<br>Administrador</p>
    <a href=""><img src="static\img\navbar\icon_more.svg" alt=""></a>
</div>
<ul>
    <li><a href=""><img src="static/img/navbar/icon_menu.svg" alt=""><p>Menu</p></a></li>
    <li><a href=""><img src="static/img/navbar/icon_produto.svg" alt=""><p>Produto</p></a></li>
    <li><a href=""><img src="static/img/navbar/icon_estoque.svg" alt=""><p>Estoque</p></a></li>
    <li><a href=""><img src="static/img/navbar/icon_solicitacoes.svg" alt=""><p>Solicitações</p></a></li>
    <li><a href=""><img src="static/img/navbar/icon_relatorio.svg" alt=""><p>Relatório</p></a></li>
</ul>



{% endblock %}