<img class="logo" src="{{ url_for('static', path='img/logo/svgexport-24.svg') }}" alt="">
<div class="profile">
    <img src="{{ url_for('static', path='/img/navbar/icon_profile.svg') }}" alt="">
    <p>Murilo<br>Administrador</p>
    <a href=""><img src="{{ url_for('static', path='/img/navbar/icon_more.svg') }}" alt=""></a>
</div>
<ul class="ul-t">
    <li><a href="/menu/" {% if current_page == "menu" %}class="active"{% endif %}><img src="{{ url_for('static', path='/img/navbar/icon_menu.svg') }}" alt=""><p>Menu</p></a></li>
    <li><a href="/produto/" {% if current_page == "produto" %}class="active"{% endif %}><img src="{{ url_for('static', path='/img/navbar/icon_produto.svg') }}" alt=""><p>Produto</p></a></li>
    <li><a href="/estoque/" {% if current_page == "estoque" %}class="active"{% endif %}><img src="{{ url_for('static', path='/img/navbar/icon_estoque.svg') }}" alt=""><p>Estoque</p></a></li>
    <li><a href="/solicitacao/" {% if current_page == "solicitacao" %}class="active"{% endif %}><img src="{{ url_for('static', path='/img/navbar/icon_solicitacoes.svg') }}" alt=""><p>Solicitações</p></a></li>
    <li><a href="/relatorio/" {% if current_page == "relatorio" %}class="active"{% endif %}><img src="{{ url_for('static', path='/img/navbar/icon_relatorio.svg') }}" alt=""><p>Relatório</p></a></li>
</ul>
<hr class="hr-nav">
<ul class="ul-b">
    <li><a href=""><img src="{{ url_for('static', path='/img/navbar/icon_person.svg') }}" alt=""><p>Perfil</p></a></li>
    <li><a href=""><img src="{{ url_for('static', path='/img/navbar/icon_config.svg') }}" alt=""><p>Configurações</p></a></li>
</ul>