<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/relatorio/estoque.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                <header>
                    <h1 class="titulo">Dashboard Estoque</h1>
                    <hr>
                    <a class="button btn-1" href="">São Paulo</a>
                    <a class="button btn-2" href="">Rio de Janeiro</a>
                    <a class="button btn-3" href="">Espirito Santo</a>
                    <a class="button btn-4" href="">Minas Gerais</a>
                    <a class="button btn-5" href="">Bahia</a>
                    <a class="button btn-6" href="">Goías</a>

                </header>
                <section>
                    <div><canvas id="graph1"></canvas></div>
                    <div><canvas id="graph2"></canvas></div>
                    <div><canvas id="graph3"></canvas></div>
                    <div><canvas id="graph4"></canvas></div>

                </section>
            </div>
        </div>








        {% set current_page = "relatorio" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/relatorio/grafico.js') }}"></script>



</body>

</html>