<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/relatorio/main.css') }}">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                <header>
                    <h1 class="titulo">Dashboard Gerais</h1>
                    <hr>
                </header>
                <div>
                    <a href="estoque">Estoque</a>
                    <a href="">Produto</a>
                    <a href="">Usuário</a>
                </div>
            </div>
        </div>

        {% set current_page = "relatorio" %}
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>