{% extends "base.html" %}
{% set current_page = "fornecedor" %}
{% block content %}
<div class="form-main">
    <form action="">
        <label for="nome">Nome</label>
        <br>
        <input type="text" name="nome" id="nome" placeholder="Nome do produto" autocomplete="off"><br>

        <label for="marca">Marca</label>
        <br>
        <input type="text" name="marca" id="marca" placeholder="Marca do produto" autocomplete="off"><br>

        <label for="categoria">Categoria</label>
        <br>
        <input type="text" name="categoria" id="categoria" placeholder="Categoria do produto" autocomplete="off"><br>

        <label for="desc">Descrição</label>
        <br>
        <input type="text" name="desc" id="desc" placeholder="Descrição do produto" autocomplete="off">
    </form>
</div>
<div class="form-btn">
    <button class="btn-confirm">Confirmar</button>
    <a class="btn-back" href="/fornecedor">Voltar</a>
</div>
{% endblock %}