{% extends "base.html" %}
{% set current_page = "fornecedor" %}
{% block content %}
<form class="filter-nome" id="formBuscarFornecedor">
    <input type="text" id="inputNomeFornecedor" name="filtro_nome" placeholder="Nome do Fornecedor" autocomplete="off">
    <input type="submit" value="Buscar">
</form>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Codigo</th>
                            <th class="column2">Nome</th>
                            <th class="column3">CNPJ</th>
                            <th class="column4">Telefone</th>
                            <th class="column5">Cep</th>
                            <th class="column6">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="infoFornecedorTabela">
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <button id="btnPaginaAnteriorListagemFornecedor" disabled>Anterior</button>
    <span id="infoPaginaListagemFornecedor">Página 1</span>
    <button id="btnProximaPaginaListagemFornecedor">Próxima</button>
</div>
{% include 'fornecedor/modalExcluir.html' %}
{% include 'fornecedor/modalEditar.html' %}
{% endblock %}