<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/imports.html' %}
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <div class="left-side">
            <div class="container">
                {% include 'components/header.html' %}
                <section>
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
        <div class="navbar">
            {% include 'components/navbar.html' %}
        </div>
    </main>
</body>

</html>