<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login/login.css') }}">
    <title>OrbiTI</title>
</head>

<body>

    <div class="main-login">
        <div class="left-login">
            <img src="{{ url_for('static', path='img/login/boneco.svg') }}" alt="">
        </div>
        <div class="right-login">
            <h1>OrbiTI</h1>
            <div class="card-login">
                <form method="post">
                    <div class="textfield">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuário">
                    </div>
                    <div class="textfield">
                        <input type="password" name="senha" id="senha" placeholder="Senha">
                        <a href="#">Esqueceu a Senha?</a>
                    </div>
                    <button class="btn-login" onclick="showSpinner()">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>