<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>OrbiTI</title>
</head>

<body>
    <main>
        <aside>
            <h1>OrbitTI</h1>
            <div class="profile">
            </div>
            <ul>
                <li>Menu</li>
                <li>Produtos</li>
                <li>Estoque</li>
                <li>Solicitações</li>
                <li>Relatório</li>
            </ul>
        </aside>

    </main>
</body>

</html>